<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmCbXf83X5PiEeuw8uN_GkiPo1KHnW4Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>240477721302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.finalproject</string>
	<key>PROJECT_ID</key>
	<string>final-project-3zm41n</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-3zm41n.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240477721302:ios:9a1fa18dbc5e84007d2f77</string>
</dict>
</plist>